node_modules
client/node_modules
server/config/local.js
server/node_modules
server/.tmp
test-client

*~
*#
.DS_STORE
.idea
*.iml
.vscode
.node_history
dump.rdb

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid

